{{ define "main" }}
{{ $title := .Title }}
{{ $pages := .Pages }}

{{ if .IsHome }}
    {{ $title = "Latest Posts" }}
    {{ $pages = where .Site.RegularPages "Type" "posts" }}
{{ else if eq .Kind "term" }}
    {{ $title = printf "Posts tagged with \"%s\"" .Title }}
{{ end }}

<h1>{{ $title }}</h1>

{{ if .Content }}
<div class="page-content">
    {{ .Content }}
</div>
{{ end }}

<div class="post-list">
    {{ range $pages }}
    <article class="post-item">
        <div class="post-item-header">
            <div class="post-item-title-tags">
                <h2 class="post-title">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h2>
                {{ if .Params.tags }}
                <div class="post-tags">
                    {{ range .Params.tags }}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">#{{ . }}</a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">
                {{ .Date.Format "Jan 2, 2006" }}
            </time>
        </div>
        
        {{ if .Description }}
        <div class="post-summary">
            {{ .Description }}
        </div>
        {{ end }}
    </article>
    {{ end }}
</div>
{{ end }}
