{{ define "main" }}
<div class="post-list">
    {{ $posts := where .Site.RegularPages "Type" "in" "posts" }}
    {{ $paginator := .Paginate $posts }}
    {{ range $paginator.Pages }}
    <article class="post-item">
        <div class="post-item-header">
            <div class="post-item-title-tags">
                <h2 class="post-title">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h2>
                {{ if .Params.tags }}
                <div class="post-tags">
                    {{ range .Params.tags }}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">#{{ . }}</a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">
                {{ .Date.Format "Jan 2, 2006" }}
            </time>
        </div>
        
        {{ if .Summary }}
        <div class="post-summary">
            {{ .Summary }}
        </div>
        {{ end }}
    </article>
    {{ end }}
</div>

{{ if gt $paginator.TotalPages 1 }}
<nav class="pagination">
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}">&larr; Previous</a>
    {{ end }}
    
    {{ range $paginator.Pagers }}
    {{ if eq . $paginator }}
    <span class="current">{{ .PageNumber }}</span>
    {{ else }}
    <a href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ end }}
    {{ end }}
    
    {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}">Next &rarr;</a>
    {{ end }}
</nav>
{{ end }}
{{ end }}
